/* All */
.clearfix { display: inline-block; }
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.fonts_dbadmanx { font-family: "DBAdmanX"; }
.fonts_cordiaupc { font-family: "CordiaUPC"; }
.fonts_size_title { font-size: 3rem; }
.fonts_size_subtitle { font-size: 2.625rem; }
.fonts_size_slide_title { font-size: 2.215rem; }
.fonts_size_slide_txt { font-size: 1.25}

.weight_light { font-weight: lighter; }
.weight_bold { font-weight: bold; }

.color_primary { color: #274b2b; }
.color_white { color: #fff; }
.color_gray { color: #808080; }
.color_black { color: #000; }
.bg_white { background-color: #fff; }
.bg_black { background-color: #000; }

.full-height {  height: 100%; }
.margin-bottom50 { margin-bottom: 50px; }
.margin-section { margin-top: 25px; margin-bottom: 25px; }
.margin-section2x { margin-top: 50px; margin-bottom: 50px; }

button, .button {
    display: inline-block;
    margin: 0.55rem;
    padding: 0.55rem 1.5rem;
    border: none;
    border-radius: 0.1875rem;           /* CSS3 Property */
    -moz-border-radius: 0.1875rem;      /* Firefox */
    -webkit-border-radius: 0.1875rem;   /* Chrome/Safari */
    -khtml-border-radius: 0.1875rem;    /* Linux browsers */
    outline: none;
    font-family: inherit;
    font-size: 1.125em;
    font-weight: 300;
    line-height: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
    opacity:0.9;
}
button:hover, .button:hover { opacity: 1; }



/* Element */
html, body {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('../images/bg.jpg');
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-size: 1rem;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    margin: 0;
    padding: 0;
}

/* All Pages */
          /* Menu */
          .menu-btn {
              cursor: pointer;
              position: absolute;
              top: 30px;
              left: 25px;
              color: #fff;
              z-index: 231;
          }

          /* Slide */
          .slide-layer-2 { z-index: 123; }
          .slide-layer-3 { z-index: 231; }
          .slide-layer-4 { z-index: 320; }

          /* Banner */
          #landing-content {
              width: 100%;
              background-size: 150% 150%;
              background-repeat: no-repeat;
          }
          .slider3d {
              width: 100%;
              height: 100%;
              text-align: center;
          }
          .slider3d img {
              margin: 0 auto;
              height: auto;
          }

          /* footer */
          .leaf-footer {
              z-index: 2;
          }
          footer {
              background-color: #000;
              color: #fff;
              z-index: 8;
          }
          footer ul {
              line-height: 150px;
              vertical-align: middle;
          }
          footer li {
            display: inline-block;
            padding-left: 25px;
            padding-right: 25px;
          }
          footer li a:hover { color: #888888; }
          .footer-copyright {
              border-top: 1px solid #888888;
              line-height: 55px;
          }
          .footer-copyright i {
              font-size: 1rem;
          }


/* Home */
          /* Cover Pages */
          .overlay {
              position: fixed;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              background: rgba(51,51,51,0.7);
              z-index: 10;
          }
          .cover {
              position: absolute;
              width: 55%;
              height: 55%;

              -vendor-animation-delay: 5s;
          }
          .leaf01 { left: 0; top: 0; z-index: 12; background: red; }
          .leaf02 { left: 0; bottom: 0; z-index: 11; background: yellow; }
          .leaf03 { left: 20%; bottom: 0; z-index: 13; background: gray; }
          .leaf04 { right: 0; bottom: 0; z-index: 14; background: green; }
          .leaf05 { right: 0; top: 0; z-index: 15; background: blue; }
          .leaf06 { right: 20%; top: 0; z-index: 16; background: orange; }



          /* Section Franchise */
          .franchise {
              background-image: url('../images/bg-franchise.jpg');
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              height: 350px;
          }
          .franchise-row {
              height: 100%;
          }
          .franchise-txt {
              position: relative;
              top: 50%;
              transform: translateY(-50%);
          }
          .btn-franchise {
              font-family: "DBAdmanX";
              font-weight: bold;
              font-size: 1.125rem;

              color: #000;
              background-color: #fbb813; /* #284a2b;*/
          }

          /* Section About Us */
          .aboutus-detail {
              font-size: 1.25rem;
          }
          .btn-aboutus{
              font-family: "DBAdmanX";
              font-weight: bold;
              font-size: 1.125rem;

              color: #fff;
              background-color: #284a2b;
          }

          /* Section AICA */
          .aica {
              background-image: url('../images/bg-aica.jpg');
              background-repeat:repeat;
              overflow: hidden;
              position: relative;
          }
          .aica-pic, .aica-txt { display: table; }
          .aica-pic { padding: 0; }
          .aica-middle {
              display: table-cell;
              vertical-align: middle;
          }
          .aica-content {
              background-color: #fff;
              border-radius: 10px;            /* CSS3 Property */
              -moz-border-radius: 10px;       /* Firefox */
              -webkit-border-radius: 10px;    /* Chrome/Safari */
              -khtml-border-radius: 10px;     /* Linux browsers */
              margin: 0 auto;
              padding: 2.5%;
              width: 90%;
          }
          .btn-aica{
              font-family: "DBAdmanX";
              font-weight: bold;
              font-size: 1.125rem;

              color: #fff;
              background-color: #284a2b;
          }


          /* Section CSR */
          .csr {
              background-image: url('../images/bg-csr.jpg');
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              height: 350px;
          }
          .csr-content {
              position: relative;
              height: 100%;
          }
          .csr-detail {
              position: absolute;
              left: 12%;
              bottom: 10%;
              width: 76%;
              color: #fff;
          }
          .csr-txt label {
              display: inline;
              color: #fbb813;
          }
          .csr-title, .csr-title label  {
              font-family: "DBAdmanX";
              font-weight: bold;
              font-size: 2.625rem;
              vertical-align: bottom;
              line-height: 35px;
          }
          .csr-overview {
              font-family: "CordiaUPC";
              font-size: 1.125rem;
              vertical-align: bottom;
          }
          .csr-overview label {
              font-family: "CordiaUPC";
              font-style: italic;
              font-size: 1.125rem;
          }

          /* Section News */
          .news a:hover { color: #888888; }
          .news-description, .news-datetime {
              padding-left: 5%;
              padding-right: 5%;
          }
          .news-description {
              font-family: "DBAdmanX";
              font-size: 1.25rem;
              font-weight: bold;
              line-height: 25px;

              height: 50px;
              min-height: 50px;
              max-height: 50px;
              overflow: hidden;
          }
          .news-datetime {
              font-family: "CordiaUPC";
              font-size: 0.875rem;
              font-style: italic;
          }





/* Products Pages */
          .products-list-coffee, .products-list-milk, .products-list-tea, .products-list-fruit {
              margin-bottom: 60px;
          }
          .products-header-row {
              border-bottom: 1px solid #000;
              margin-bottom: 25px;
          }
          .products-header-title {
              font-size: 2rem;
              padding-top: 8px;
          }
          .products-slider {
              margin-top: -80px;
          }
          .products-header-icon {
              line-height: 35px;
          }
          .products-header-icon-txt {
              font-size: 0.875rem;
          }
          .seed_icon {
              background-image: url('../images/icon_seed_green.png');
              background-repeat: no-repeat;
              background-position: center;
              margin: 6.5px auto;
              width: 12px;
              height: 12px;
          }
          .products-list-selectd {
              line-height: 25px;
          }
          a:hover .products-list-selectd {
              background-color: #274b2b;
              color: #fff;
          }
          a:hover .products-list-selectd .seed_icon {
              background-image: url('../images/icon_seed_white.png');
          }


/* Products Detail Pages */
          .icon-badge li {
              display: inline-block;
              margin-left: 10px;
              margin-right: 10px;
              cursor: pointer;
          }
          .product-detail-content {
              padding-left: 5%;
              padding-right: 5%;
          }
          .products-detail-header {
              font-weight: bold;
              font-size: 2rem;
              border-bottom: 1px solid #000;
              margin-bottom: 30px;
          }
          .products-detail-txt {
              margin-bottom: 50px;
          }
          .product-detail-icon {
              width: 76px;
              height: 76px;
              background-repeat: no-repeat;
              margin: 0 auto;
          }
          .pdicon-hot { background-image: url('../images/products_icon_hot.png'); }
          .pdicon-cool { background-image: url('../images/products_icon_cool.png'); }
          .pdicon-smooty { background-image: url('../images/products_icon_smooty.png'); }
          .pdicon-hot:hover { background-image: url('../images/products_icon_hot_hover.png'); }
          .pdicon-cool:hover { background-image: url('../images/products_icon_cool_hover.png'); }
          .pdicon-smooty:hover { background-image: url('../images/products_icon_smooty_hover.png'); }
          .icon-badge-1.active .pdicon-hot { background-image: url('../images/products_icon_hot_hover.png'); }
          .icon-badge-2.active .pdicon-cool { background-image: url('../images/products_icon_cool_hover.png'); }
          .icon-badge-3.active .pdicon-smooty { background-image: url('../images/products_icon_smooty_hover.png'); }
          .section-social {
              line-height: 30px;
              vertical-align: middle;
          }
          .share-to-social {
              display: inline-block;
              line-height: 25px;
              vertical-align: middle;
          }
          .sectiop-goback {
              line-height: 36px;
              vertical-align: middle;
          }
          .goback-to-products a {
              line-height: 30px;
              vertical-align: middle;
          }
          .goback-to-products:hover .icon-goback  {
              background-image: url('../images/icon_back_hover.png');
          }
          .icon-goback {
              background-image: url('../images/icon_back.png');
              width: 24px;
              height: 24px;
              margin-top: 6px;
              display: inline-block;
              cursor: pointer;
          }
          .txt-goback {
              display: inline-block;
              line-height: 36px;
              vertical-align: top;
          }
          .social-share  {
              display: inline-block;
              background-image: url('../images/products_social.png');
              cursor: pointer;
              margin-top: 3px;
              width: 24px;
              height: 24px;
          }
          .ss-twitter { background-position: left 0px top 0px; }
          .ss-facebook { background-position: right 52px top 0px; }
          .ss-googleplus { background-position: right 79px top 0px; }
          .ss-print { background-position: right 107px top 0px; }
          .products-other {
              margin: 15px auto;
          }


/* Promotion Pages */
          .promotion {
              margin-top: -60px;
          }
          .promotion .columns {
              padding-left: 0.375rem;
              padding-right: 0.375rem;
          }
          .transition-promotion-products {
              -webkit-transform: scale(1.2);
              -moz-transform: scale(1.2);
              -o-transform: scale(1.2);
              transform: scale(1.2);
          }
          .promotion-thumbnail {
              width: 300px;
              height: 400px;

              -webkit-transition: all .4s ease-in-out;
              -moz-transition: all .4s ease-in-out;
              -o-transition: all .4s ease-in-out;
              -ms-transition: all .4s ease-in-out;
          }
          .promotion-picture {
              margin-bottom: 8px;
              min-height: 420px;
              max-height: 420px;
              overflow: hidden;
          }
          .promotion-description {
              font-family: "DBAdmanX";
              font-size: 1.25rem;
              font-weight: bold;

              height: 35px;
              min-height: 35px;
              max-height: 35px;
              margin-bottom: 8px;
              overflow: hidden;
          }
          .promotion-datetime {
              margin-bottom: 25px;
              font-family: "CordiaUPC";
              font-size: 0.875rem;
              font-style: italic;
          }


/* Promotion Detail Pages */
          .promotions-detail-header,  .promotions-detail-header-l2 {
              font-size: 2rem;
              overflow: hidden;
          }
          .promotions-detail-slide-show {
              margin-top: -80px
              z-index: 231;
          }
          .promotions-detail-header { font-weight: bold; }
          .promotions-detail-header-l2 {  border-bottom: 1px solid #000; }
          .promotions-detail-txt {
              margin: 25px 0 50px 0;
          }
          .btn-branch {
              font-family: "DBAdmanX";
              font-weight: bold;
              font-size: 1.125rem;

              color: #000;
              background-color: #fbb813; /* #284a2b;*/
          }
          .branch-pin {
              margin-top: -40px;
          }


/* News Pages */
          .news-detail-header {
              font-weight: bold;
              font-size: 2rem;
              overflow: hidden;
          }
          .news-detail-datetime {
              margin-bottom: 25px;
              font-family: "CordiaUPC";
              font-size: 0.875rem;
              font-style: italic;
          }
          .news-detail-txt {
              margin: 25px 0 50px 0;
          }


/* Factory */
          .factory-pic-slide .item{
              margin: 8px;
          }
          .factory-pic-slide .item img {
              display: block;
              width: 100%;
              height: auto;
          }
          .factory-pic-slide-one .item img{
              display: block;
              width: 100%;
              height: auto;
          }

/* Contact */
          #googlemap {
              width: 100%;
              height: 400px;
          }

/* About */
          .cafe-about-header,  .cafe-about-header-l2 {
              font-size: 2rem;
              overflow: hidden;
          }
          .cafe-about-header { font-weight: bold; }
          .cafe-about-txt {
              font-size: 1.125rem;
              margin: 50px auto;
          }

/* FAQ */    
          .integration-list {
              font-family: 'Open Sans', sans-serif;
              width: 80%;
              margin: 0 auto;
              display: table;
          }
          .integration-list ul {
              padding: 0;
              margin: 20px 0;
              color: #555;
          }
          .integration-list ul > li {
              list-style: none;
              border-top: 1px solid #ddd;
              display: block;
              padding: 15px;
              overflow: hidden;
          }
          .integration-list ul > li:hover {
              background: #efefef;
          }
          .expand {
              display: block;
              text-decoration: none;
              color: #555;
              cursor: pointer;
          }
          .right-arrow {
              margin-top: 12px;
              margin-left: 20px;
              width: 10px;
              height: 100%;
              float: right;
              font-weight: bold;
              font-size: 20px;
          }
          #left,#right{
              display: table;
          }
          .detail a {
              text-decoration: none;
              color: #C0392B;
              border: 1px solid #C0392B;
              padding: 6px 10px 5px;
              font-size: 13px;
            margin-right: 7px;
          }
          .detail {
              margin: 10px 0 10px 0px;
              display: none;
              line-height: 22px;
              height: 150px;
          }
          .detail span{
              margin: 0;
          }



/* Overide */
.thumbnail:hover, .thumbnail:focus { box-shadow: 0 0 6px 1px rgba(136, 136, 136, 0.5); }
.orbit-bullets { margin-top: -20px; }
.orbit-bullets button {
    width: 0.8rem;
    height: 0.8rem;
    padding: 0;
}




/* Media Query */
/* Small screens : max-width 640px, mobile-only styles, use when QAing mobile issues  */
@media only screen and (max-width: 40em) {
    .franchise {
        background-image: url('../images/bg-franchise-mobile.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 350px;
    }
    .aica-middle {
        margin-top: 25px;
        padding-bottom: 25px;
        line-height: 160%;
    }
    .news-picture { margin-bottom: 8px; }
    .news-description {
        height: 80px;
        min-height: 80px;
        max-height: 80px;
        margin-bottom: 8px;
    }
    .news-datetime { margin-bottom: 25px; }
    .products-header-title { font-size: 1.375rem; }
    .promotion-thumbnail {
        width: 300px;
        height: 400px;
    }
    .promotion-picture {
        margin-bottom: 8px;
        min-height: 400px;
        max-height: 400px;
        overflow: hidden;
    }
    footer ul {
        line-height: inherit;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    footer li { padding: 5px; }
}

/* Medium screens :
    min-width 641px, medium screens
    min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 40.063em) {

}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .aica-middle { line-height: 160%; }
    .news-description {
        height: 80px;
        min-height: 80px;
        max-height: 80px;
    }
}

/* Large screens :
    min-width 1025px, large screens
    min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 64.063em) {
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* XLarge screens :
    min-width 1441px, xlarge screens
    min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 90.063em) {
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
}

/* XXLarge screens : min-width 1921px, xxlarge screens */
@media only screen and (min-width: 120.063em) {
}
