/*! Pushy - v1.0.0 - 2016-3-1
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */
/* Menu Appearance */
.pushy {
  position: fixed;
  width: 375px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: #191918;
  overflow: auto;
  visibility: hidden;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */

  background-image: url('../images/bg-aica.jpg');
  background-repeat: repeat;
}
.pushy a {
  display: block;
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
  outline: 0;
}
.pushy a:hover {
  color: #888;
  background-color: #000;
}
.pushy ul:first-child {
  margin-top: 10px;
}
.pushy.pushy-left {
  left: 0;
}
.pushy.pushy-right {
  right: 0;
}

/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(-375px, 0, 0);
  -ms-transform: translate3d(-375px, 0, 0);
  transform: translate3d(-375px, 0, 0);
}

.pushy-open-left #container,
.pushy-open-left .push {
  -webkit-transform: translate3d(375px, 0, 0);
  -ms-transform: translate3d(375px, 0, 0);
  transform: translate3d(375px, 0, 0);
}

.pushy-right {
  -webkit-transform: translate3d(375px, 0, 0);
  -ms-transform: translate3d(375px, 0, 0);
  transform: translate3d(375px, 0, 0);
}

.pushy-open-right #container,
.pushy-open-right .push {
  -webkit-transform: translate3d(-375px, 0, 0);
  -ms-transform: translate3d(-375px, 0, 0);
  transform: translate3d(-375px, 0, 0);
}

.pushy-open-left .pushy,
.pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Menu Transitions */
#container,
.pushy,
.push {
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

/* Site Overlay */
.site-overlay {
  display: none;
}

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Submenu Appearance */
.pushy-submenu {
  /* Submenu Icon */
}
.pushy-submenu ul {
  padding-left: 15px;
  transition: max-height 0.2s ease-in-out;
}
.pushy-submenu ul .pushy-link {
  transition: opacity 0.2s ease-in-out;
}
.pushy-submenu > a {
  position: relative;
}
.pushy-submenu > a::after {
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;
  right: 15px;
  /*background: url("../img/arrow.svg") no-repeat;*/
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: transform 0.2s;
}

/* Submenu Movement */
.pushy-submenu-closed ul {
  max-height: 0;
  overflow: hidden;
}
.pushy-submenu-closed .pushy-link {
  opacity: 0;
}

.pushy-submenu-open {
  /* Submenu Icon */
}
.pushy-submenu-open > a {
    background-color: #000;
}
.pushy-submenu-open ul {
    max-height: 1000px;
    margin: 0;
    padding: 0;
}
.pushy-submenu-open .pushy-link {
  opacity: 1;
}
.pushy-submenu-open .pushy-link a {
  color: #000;
}
.pushy-submenu-open .pushy-link a:hover {
  color: #fff;
}
.pushy-submenu-open a::after {
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
}

.no-csstransforms3d .pushy-submenu-closed ul {
  max-height: none;
  display: none;
}

/*# sourceMappingURL=pushy.css.map */
.pushy-link-submenu a {
    padding-left: 60px;
}
.menu-main {
    margin-bottom: 25px;
}
.btn-close-menu-box {
    margin: 30px;
    cursor: pointer;
}
.menu-footer  {
    font-size: 0.875rem;
}
.menu-footer a {
    padding: 4px 30px;
}
.menu-footer-groups {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

/* Menu */
.menu-btn, .menu-switch-language  {
    position: absolute;
    top: 30px;
    color: #fff;
    z-index: 231;
}
.menu-btn:hover, .menu-switch-language:hover  {
    color: #274b2b;
}
.menu-btn {
    cursor: pointer;
    left: 25px;
}
.menu-switch-language {
    right: 25px;
}
.menu-switch-language div {
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    padding: 2px 8px;
    font-family: "DBAdmanX";
    font-weight: bold;
    font-size: 1.25rem;
}
.menu-switch-language div:first-child {
    border-right: 1px solid #fff;
}
.logo-of-website {
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -80px;
    z-index: 231;
}
.logo-of-website-for-ipad {
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -55px;
    z-index: 231;
}
.logo-of-website-for-mobile {
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -45px;
    z-index: 231;
}



/* Media Query */
/* Small screens : max-width 640px, mobile-only styles, use when QAing mobile issues  */
@media only screen and (max-width: 40em) {
    .pushy {
        width: 250px;
    }
    .pushy-left {
        -webkit-transform: translate3d(-250px, 0, 0);
        -ms-transform: translate3d(-250px, 0, 0);
        transform: translate3d(-250px, 0, 0);
    }

    .pushy-open-left #container,
    .pushy-open-left .push {
        -webkit-transform: translate3d(250px, 0, 0);
        -ms-transform: translate3d(250px, 0, 0);
        transform: translate3d(250px, 0, 0);
    }

    .pushy-right {
        -webkit-transform: translate3d(250px, 0, 0);
        -ms-transform: translate3d(250px, 0, 0);
        transform: translate3d(250px, 0, 0);
    }
    .menu-btn { left: 15px; }
    .menu-switch-language { right: 15px; }

    .pushy-open-right #container,
    .pushy-open-right .push {
        -webkit-transform: translate3d(-250px, 0, 0);
        -ms-transform: translate3d(-250px, 0, 0);
        transform: translate3d(-250px, 0, 0);
    }
    .menu-footer  {
        font-size: 0.65rem;
    }
}

/* Medium screens :
    min-width 641px, medium screens
    min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 40.063em) {
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
}

/* Large screens :
    min-width 1025px, large screens
    min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 64.063em) {
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* XLarge screens :
    min-width 1441px, xlarge screens
    min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 90.063em) {
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
}

/* XXLarge screens : min-width 1921px, xxlarge screens */
@media only screen and (min-width: 120.063em) {
}
